<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CptBreeza - $title$</title>
    <link rel="stylesheet" href="/css/default.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">CptBreeza</a>
      </nav>
    </header>

    <main role="main">
      <h1>$title$</h1>
      $body$
    </main>
    <footer></footer>
  </body>
</html>
